.anchor{
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}
.title{
    margin-right: 30px !important;
    font-weight: 600;
}
.user-details{
    margin-left: auto;
    display: inherit;
}
.user-name{
    text-transform: uppercase;
    color: #fff;
    margin-right: 5px;
}