.loginContainer{
    width: 100%; 
    height: 100vh;
    align-items: center;
    display: flex;
    background-color: #f9f9f9;
}
.loginBox{
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    background-color: #fff;
    border-radius: 4px;
    width: 400px;
    padding: 20px;
    margin: auto;
}
.logoName{
    margin-top: 15px;
    margin-bottom: 30px;
}
.logoName h4{
    margin: 0;
    font-size: 26px;
    text-align: center;
}
.loginField{
    margin: 18px 0;
}
.loginBtn{
    height: 50px;
    font-size: 16px !important;
    margin-top: 15px !important;
    margin-bottom: 10px !important;
}
.user-name{
    text-transform: uppercase;
}