/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container-fluid{
  padding-left: 15px;
  padding-right: 15px;
}
.loadingTr{
  padding: 10px;
}
.listTitle{
   flex-direction: row; 
   justify-content: space-between; 
   display: flex; 
   margin-top: 15px;
   margin-bottom: 15px
}
.modal-header-icon{
  float: right;
  margin-top: -4px !important; 
}
.modal-header-text{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}