.MuiExpansionPanelSummary-content.Mui-expanded{
    margin: 10px 0 !important;
}
.MuiExpansionPanelDetails-root{
    padding: 15px !important;
}
.fixedBtnCover{
    margin-top: 30px;
    text-align: right;
}
.fixedBtn{
    height:64px;
    width: 64px;
    border-radius: 50% !important;
}
.fixedBtn .MuiSvgIcon-root{
    font-size: 2em;
}
.inputControl{
    margin: 15px 0;
}
.inputControlValue{
    margin: 15px 0 !important;
    display: flex;
    justify-content: space-between;
}
.inputControlValue label{
    color:#555;
}
.inputControlValue span{
    color:#555;
}
.mt-30{
    margin-top:30px
}
.addCostBtn{
    width: 157px;
    background: #eee;
    margin-left: 5px;
}
.display-flex{
    display: flex;
}